
.minutes{
    display: inline-block;
    border: 1px solid rgba(255, 0, 0, 0.842);
    padding: 1rem 1rem;
    vertical-align: middle;
  
}
.seconds{
    display: inline-block;
    border: 1px solid rgba(255, 0, 0, 0.842);
    padding: 1rem 1rem;
    vertical-align: middle;
  
}
